*.iml
out
gen
/vendor
/node_modules
/public/storage
/public/mix-manifest.json
/.scannerwork/
/html/
/public/css
/public/js
/public/images
/public/fonts
/public/svg
/public/vendor
/storage/*.key
/storage/debugbar/
/storage/shared/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.env.dusk.local
_ide_helper.php
.phpstorm.meta.php
.sass-cache
.vscode
yarn.lock
.phpunit.result.cache
compiled.php
config.php
down
events.scanned.php
maintenance.php
routes.php
routes.scanned.php
schedule-*
services.json
.DS_Store
/.php_cs.cache
.php-cs-fixer.cache
phpunit.coverage.xml
phpunit.report.xml
_ide_helper_models.php
.npmrc
/storybook-static/
dump.rdb
/public/svg/text-marker/
/public/build/
/public/hot
/public/videos
ray.php
storage/framework/testing
storage/app/cache/
